<section  id="fond-4" >

    <div class="container" align="center">

        <div class="row">

            <div  style="width: 1356px">

                <form class="form-inline" >

                    <div class="form-group " style="margin-left: -200px">

                        <div class="form-group">
                            <div class="btn-1" style="background-color: black; width: 318px">
                                <a href="{{ path('referencement') }}" style="color: white" >
                                    {# <span class="glyphicon glyphicon-triangle-left fleche-petit"></span>#} <img class="icone" src="https://image.noelshack.com/fichiers/2018/13/5/1522417107-icone-3-inverse.png"
                                                                                                                   alt="icone-3">
                                    Référencement
                                </a>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="btn-1" style="width: 330px!important;">
                                <a href="{{ path('budget_gestion_contenu') }}" id="ajax_test_referencement" style="width: 319px!important;color: black">
                                    <img class="icone" src="https://image.noelshack.com/fichiers/2018/08/5/1519379743-icona-2.png" alt="icone-3">
                                    Gestion de Contenu   <span class="glyphicon glyphicon-triangle-right"></span>
                                </a>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="btn-1" style="width: 318px;">
                                <a href="{{ path('budget_affichage') }}" id="ajax_test_referencement"   style="color: black">
                                    <img class="icone" src="https://image.noelshack.com/fichiers/2018/08/5/1519379743-icone-1.png" alt="icone-3">
                                    Affichage   <span class="glyphicon glyphicon-triangle-right"></span>
                                </a>
                            </div>
                        </div>


                    </div>
                </form>
            </div>
        </div>

    </div>

</section>