
body .icon-retour {
    margin: 20px;
}

section {
    width:100%;
    /* height: 800px;*/
    background-repeat: no-repeat;
    background-size: cover;
}

#fond-1 {
    background-image:url('https://image.noelshack.com/fichiers/2018/09/1/1519644667-fond-budgetisation.jpg');
    left: 0;
    height: 250px;

}

#fond-1 .titre-1 {
    background-color: #ff5c5c;
    width: 300px;
    height: 60px;
    border-radius: 5px;
    margin-top: 60px;
    padding-top: 8px;
    color: white;
    letter-spacing: 1px;
    font-size: 32px;
}


#fond-1 .titre-2 {
    background-color: black;
    width: 940px;
    height: 120px;
    border-radius: 0;
    margin-top: 60px;
    padding-top: 20px;
    font-size: 26px;
    font-weight: lighter;
}


#fond-1 .titre-2 .acroche {
    color: white;
    letter-spacing: 2px;
    line-height: 1.4;
}

#fond-2 {
    background-color: white;
    left: 0;
   /* height: 850px;*/
}

.menu{
    background-color: #ffdb2e;
    margin: 50px 15px 10px 0;
    width: 274px;
    height: 49px;
    border: 0;
    font-size: 18px;
    /* padding: 8px 0 0 16px; */
    color: black;
    padding-top: 12px;
}


.icone {
    width: 50px;
    height: 47px;
    padding: 0;
    float: left;
    margin-top: -12px;
}

#fond-2 .container .activites, .visibilite {
    /*margin-left: 30px;*/
    margin-left: 27px;
}

#fond-2 .container .activites .btn-2 {
    background-color: black;
    /* width: 180px;*/
    width: 238px;
    height: 45px;
    color: white;
    font-size: 20px;
    padding-top: 7px;
    margin-top: 43px;
}


#fond-2 .container .visibilite .btn-2 {
    background-color: black;
    /*width: 180px;*/
    width: 238px;
    height: 45px;
    color: white;
    font-size: 20px;
    padding-top: 7px;
    margin-top: 52px;
    margin-left: 41px;
}
.form-group{
    display:inline-block;
}

#fond-2 .container .activites label {
    float: left;
    width: 10em;
    margin-right: 1em;
    text-align: left;
    font-size: 18px;
    display: block;
    font-weight: normal;
    margin-top: 20px;
    margin-left: 15px;
}

#fond-2 .container .activites #exampleInputAmount {
    margin-top: 20px;
}



#fond-2 .container .visibilite label{
    /*background-color: #dadada;
    padding: 10px 14px 10px 34px;
    font-size: 16px;
    margin: 3px;*/
    /* background-color: #dadada;*/
    /* padding: 0px 10px 10px 34px; */
    font-size: 13px;
    margin: 2px;
    margin-left: 10px;
}

#fond-2 .container .visibilite .btn {
    /* width: 200px;
     height: 40px;
     color: #080808;
     background-color: #ffffff;
     border-radius: 0;
     font-size: 17px;
     margin: 10px 10px 0 10px;
     border-color:  black;
     margin-left: 36px;
     margin-top: 19px;*/
    width: 228px;
    height: 30px;
    color: white;
    background-color: black;
    border-radius: 0;
    font-size: 17px;
    margin: 10px 10px 0 10px;
    margin-left: 36px;
    margin-top: 36px;
    padding-top: 3px;
}
#fond-2 .container .visibilite .btn:hover {
    background-color: #ffdb2e;
    color: black;
}

#fond-2 .container .produits .btn-2 {
    background-color: #ffdb2e;
    margin: 30px 15px 10px 0;
    width: 280px;
    height: 40px;
    border: 0;
    font-size: 18px;
    padding-left: 25px;
    color: black;
    text-align: left;
}
#fond-4 .container div .black {
    background-color: black;
    margin: 50px 15px 0 0;
    width: 200px;
    height: 65px;
    border: 0;
    font-size: 18px;
    padding: 8px 0 0 0;
    color: white;
    margin-bottom: 20px;
}
#fond-2 .container .produits .villes .btn {
    width: 220px;
    height: 40px;
    color: white;
    background-color: black;
    border-radius: 0;
    font-size: 17px;
    margin: 4px 0 0 0;
}
#fond-2 .container .produits label {
    background-color: #dadada;
    padding: 10px 14px 10px 34px;
    font-size: 16px;
    margin: 3px;
}

#fond-2 .container .produits {
    margin-left: 20px;
}

#fond-2 .container .produits .btn-2 {
    background-color: #ffdb2e;
    margin: 30px 15px 10px 0;
    width: 280px;
    height: 40px;
    border: 0;
    font-size: 18px;
    padding-left: 25px;
    color: black;
    text-align: left;
}




#fond-2 .container .produits #demo-1 {
    margin: -53px 0 0 300px;
    width: 600px;
    height: 195px;
}


#fond-2 .container .produits #demo-2 {
    margin: -53px 0 0 300px;
    width: 600px;
    height: 195px;
}

#fond-2 .container .produits #demo-3 {
    margin: -53px 0 0 300px;
}




#fond-2 .container .produits #demo-4 {
    margin: -53px 0 0 300px;
    width: 800px;
}

#fond-2 .container .produits #demo-5 {
    margin: -53px 0 0 300px;
    width: 600px;
}


#fond-2 .container .produits #demo-6 {
    margin: -53px 0 0 300px;

}


#fond-2 .container .produits #demo-7 {
    margin: -53px 0 0 300px;
    width: 700px;

}

#fond-2 .container .produits #nombre-afichage {
}



#fond-2 .container .produits label{
    background-color: #dadada;
    padding: 10px 14px 10px 34px;
    font-size: 15px;
    margin: 3px;
    width: 187px;
}

#fond-2 .container .produits .villes .btn {
    width: 220px;
    height: 40px;
    color: white;
    background-color: black;
    border-radius: 0;
    font-size: 17px;
    margin: 4px 0 0 0;
}


#fond-2 .container .produits #demo-1-1, #demo-2-1, #demo-2-2, #demo-2-3, #demo-2-4 {
    width: 220px;
    position: absolute;
    background-color: #dadada;
    margin-top : 0;
    height: 155px;
}


#fond-2 .container .produits #demo-1 .region {
    margin: -43px 0 0 230px;
    width: 400px;
}

#fond-2 .container .produits #demo-2 .categorie-1 {
    margin: -43px 0 0 230px;
    width: 400px;
}

#fond-2 .container .produits #demo-2 .categorie-2 {
    margin: -43px 0 0 460px;
    width: 400px;
}

#fond-2 .container .produits #demo-2 .categorie-3 {
    margin: -43px 0 0 690px;
    width: 400px;
}
#fond-2 .container .produits #demo-2 .categorie-4 {
    margin: -43px 0 0 800px;
    width: 400px;
}

#fond-4 {
    background-color: white;
    /*height: 220px;*/

}


#fond-4 .container form .btn {
    background-color: #ffdb2e;
    margin: 50px 0 0 15px;
    width: 250px;
    height: 45px;
    border: 0;
    font-size: 18px;
    padding: 4px 0 0 0;
    color: black;
}

#fond-4 .container div .black {
    background-color: black;
    margin: 50px 15px 0 0;
    width: 200px;
    height: 65px;
    border: 0;
    font-size: 18px;
    padding: 8px 0 0 0;
    color: white;
    margin-bottom: 20px;
}

#fond-4 .container form .btn .icone {
    width: 40px;
    height: 40px;
    padding: 0;
}

span.glyphicon-triangle-right {
    font-size: 16px;
    vertical-align: -2px;
    /*float: right;*/
}
span.glyphicon-triangle- {
    float: right;
}
span.glyphicon-triangle-left {
    font-size: 16px;
    vertical-align: 3px;
    /*float: right;*/
}

span.glyphicon glyphicon-zoom-in {
    font-size: 16px;
    vertical-align: -2px;
    float: left;
}


@media (min-width: 992px) and (max-width: 1400px) {

    .form-group {
        margin-top: 40px;
    }
    #fond-2 .container .produits .villes .btn {
        width: 170px;
    }
    #fond-2 .container .produits #demo-1-1, #demo-2-1, #demo-2-2, #demo-2-3, #demo-2-4 {
        width: 170px;
    }

    #fond-2 .container .produits #demo-2 .categorie-1 {
        margin: -43px 0 0 185px;
        width: 400px;
    }

    #fond-2 .container .produits #demo-2 .categorie-2 {
        margin: -43px 0 0 370px;
        width: 400px;
    }

    #fond-2 .container .produits #demo-2 .categorie-3 {
        margin: -43px 0 0 555px;
        width: 400px;
    }
    #fond-2 .container .produits #demo-2 .categorie-4 {
        margin: -43px 0 0 800px;
        width: 400px;
    }
}

@media (max-width: 990px){
    #fond-2 {
        margin-top: 80px;
    }

    #fond-1 .titre-2 {
        width: 687px;
        height: 151px;

    }

}

.results {
    height: 36px;
    width: 200px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 18px 11px;
    font-size: 18px;
}